* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    font-size: 17px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.teste{
    color: red;
}
.paragrafo{
    font-size: 30px;
}
p.paragrafo{
    font-size: 50px;
}