html,body{
    height: 100%;
}
.box{
    color: green;
    width: 40px;
    height: auto;
    background: gray;
}
.box2{
    background-color: red;
}
.box2{
    height: 900px;
}
.box > .box2 > span{
    display: inline;
    width: inherit;
    height: inherit;
    background: inherit;
}
