* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    font-size: 17px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

[type="button"]{
    color: red;
}
div{
    background-color: rgba(200,200,200);
}
h2{
    color: black;
}