@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to bottom, #D6B98F, #8F705B);
}
main{
    background-color: white;
    border-radius: 2%;
    box-shadow: 5% 5% 15% #907362;
    width: 600px;
    padding: 10px;
    margin:auto;
}
h1{
    color: #f39209;
    text-align: center;
    text-shadow: 1px 1px 2px #d17e0a;

}
h2{
    color: #125189;
}
p{
    text-align: justify;
}